body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
